*, *::after, *::before {
  box-sizing: border-box;
}
body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family:'Segoe UI', Verdana,  'Work Sans', sans-serif;
    /* background-image: linear-gradient(100deg, #575656, #062e3f); */
    background-image: linear-gradient(100deg, #001214, #043141);
    overflow: hidden;
  }
  
  .container {
    position: relative;
    min-height: 100vh;
    margin: 0 auto;
    padding: 20px;
    background-image: linear-gradient(36deg, #001214, #001f29);
    border-radius: 4px;
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  h1 {
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
  }
  
  form {
    margin: 0 auto;
    max-width: 400px;
    display: flex;
    margin-bottom: 20px;
    
  }

  
 form input[type="text"] {
  color: white;
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
    background-color: #01394c;
    
    transition:background-color 200ms ease-in-out border-bottom-color 0.3s ease;
  }
  
  form input[type="text"]:focus {
    border-bottom-color: #002837;
    background-color:#013141 ;
  }
 
  form input::placeholder{
    padding: 4px;
    color: white;
    opacity: 0.7;
  }
  
  form button {
    max-width: 100px;
    padding: 10px 25px;
    font-size: 16px;
    background-color: #002837;
    color: #fff;
    border: none;
    cursor: pointer;
    letter-spacing: 1.5px;
    font-weight: 550;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
    transition: background-color 0.3s ease;
  }
  button {
    border: none;
    outline: none;
    transition: box-shadow 200ms ease, background-color 200ms ease-in-out;
}
  
 form button:hover {
    background-color: #001f29;
    box-shadow: 1px .5px 0px 0px white; 
  }
  button:hover {
    background-color: hsl(195, 100%, 8%);
  }

 
  /* todo list */
  
  ul {
    list-style-type: none;
    padding: 0;
    
  }
  
  li {
    max-width: 500px;
    display: flex;
    align-items: center;
    margin:0 auto;
    margin-bottom: 12px;
    padding: 5px;
    background-color: #01394c;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  }
  li span{
    
    color: #ffff;
    padding: 0 5px;
    flex-grow: 1;
    overflow-wrap: anywhere;
    
  }
  .checked{
    text-decoration: line-through;
  }
  .check-btn, .delete-btn{
    margin: 0 4px;
    padding: 10px 15px;
    background-color: #002837;
    color: white;
    border: none;
    border-radius: 500px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
.tasks-detail{
  max-width: 500px;
  margin: 0 auto;
  color:#ddd;
  opacity: 0.7;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}


#total-tasks, #completed-tasks{
  padding: 0px 10px;
  font-size: 12px;
  font-weight: 600;
}

#tasks-counter, #completed-count {
  font-weight: 400;
  font-family:Verdana, Tahoma, sans-serif;
  font-size: 12px;
}

  